.btn--big::after {
    content: ''; /* Remove the content */
    font-size: 1rem; /* Adjust the font size for the numbers below */
}

.btn--big {
    width: 100px; /* Adjust button width */
    height: 100px; /* Adjust button height */
    padding: 0; /* Remove padding */
    display: flex; /* Use flexbox */
    align-items: center; /* Center icon vertically */
    justify-content: center; /* Center icon horizontally */
}

.btn--big .fas.fa-clock {
    font-size: 3rem; /* Adjust clock icon size */
}

.controls-area button {
    margin: 10px; /* Add margin between buttons */
}
